name: build mern image and push to docker hub

on:
  push:
   branches:
      - "master"

jobs:
  build-and-deploy-nginx:
    name: Nginx
    runs-on: ubuntu-latest


    steps:
    - name: check out the repo
      uses: actions/checkout@v3
    - name: log in docker
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: ./nginx
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/mern_nginx:latests

  build-and-deploy-back:
    name: Server
    runs-on: ubuntu-latest
    needs: build-and-deploy-nginx


    steps:
      - name: check out the repo
        uses: actions/checkout@v3
      - name: log in docker
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: ./server
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/mern_backend:latest

  build-and-deploy-front:
    name: Client
    runs-on: ubuntu-latest
    needs: build-and-deploy-back


    steps:
      - name: check out the repo
        uses: actions/checkout@v3
      - name: log in docker
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: ./client
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/mern_front:latest
          
          
  deploy-terraform:
    name: Terraform
    runs-on: ubuntu-latests
    needs: build-and-deploy-front
    env:
      AWS_ACCESS_KEY: ${{secrets.AWS_ACCESS_KEY}}
      AWS_SECRET_KEY: ${{secrets.AWS_SECRET_KEY}}
    defaults:
      run:
        working-directory: terraform

    steps:
      - name: check out the repo
        uses: actions/checkout@v3
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.4.6
          terraform_wrapper: false

      # - name: Terraform Format
      #   id: fmt
      #   run: terraform fmt -check

      - name: Terraform Init
        id: init
        run: terraform init

      - name: Terraform Plan
        id: plan
        run: terraform plan

      - name: Terraform apply
        run: terraform apply -auto-approve

      - name: Wait for 5 minutes
        run: sleep 700

      - name: Terraform Destroy
        run: terraform destroy -auto-approve
          
